# Q1 Print the given strings as per stated format

In [1]:
"Data" "Science" "Mentorship" "Program"
"By"  "ABCD"

'ByABCD'

In [11]:
# concept - [Seperate and end]
print("Data" ,"Science", "Mentorship", "Program",sep = '-', end = "- started--" )
print("By" , "ABCD" ,sep = '-')

Data-Science-Mentorship-Program- started--By-ABCD

In [13]:
celcius = float(input('enter the temp in celcius'))

faren = celcius * (9/5) + 32
print(faren, 'F')

enter the temp in celcius 2

35.6 F

In [14]:
 a= 3
b = 5

temp = a
a = b
b = temp

print(a)
print(b)

5
3

In [5]:
x1 = int(input('enter x1 cod first point'))
y1 = int(input('enter x2 cod fisrt point'))
x2 = int(input('enter y1 cod second point'))
y2 = int(input('enter y2 cod second point'))

distance = ((x2 - x1)**2  +  (y2 - y1)**2)**0.5
print(distance)

enter x1 cod first point 0
enter x2 cod fisrt point 0
enter y1 cod second point 2
enter y2 cod second point 2

2.8284271247461903

In [9]:
p = int(input('Enter the principal amount'))
t = int(input('enter the  time'))
r = float(input('enter the rate'))

simple = (p*t*r)/100
print('simple interest', simple)

Enter the principal amount 10000
enter the  time 2
enter the rate 5

simple interest 1000.0

In [10]:
n = int(input('enter the number'))
result = (n*(n+1)*(2*n+1))/6
print(result)

enter the number 5

55.0

In [11]:
# an = a +(n-1)d
first_term = int(input('enter the fist term number'))
second_term = int(input('enter the second number'))

nth_term = int(input('enter the nth number'))

differ = (second_term - first_term)
ath = first_term + (nth_term - 1)*differ

print(ath)

enter the fist term number 3
enter the second number 6
enter the nth number 5

15

In [13]:
n1 = int(input('enter the first numentors'))
d1 = int(input('enter the second deneumentors'))
n2 = int(input('enter the second numentor'))
d2 = int(input('enter the second denuementor'))

rn = n1*d2 +n2*d1
rd = d1*d2
print('{}/{}'.format(rn,rd))

enter the first numentors 1
enter the second deneumentors 2
enter the second numentor 3
enter the second denuementor 4

10/8

In [15]:
import math
h_tank = float(input('enter  height of the tank'))
l_tank = float(input('enter  leanth of the tank'))
b_tank = float(input('enter breath of the tank'))

g_h = float(input('enter height of the glass'))
g_r = float(input('enter radius of the glass'))

volume_of_the_tank = h_tank*l_tank*b_tank

volume_of_the_glass = 3.14*g_h*g_r

print('number of glass',math.floor(volume_of_the_tank/volume_of_the_glass))

enter  height of the tank 11
enter  leanth of the tank 22
enter breath of the tank 33
enter height of the glass 5
enter radius of the glass 7

number of glass 72